
.nav1{
    font-size: xx-large;
}
/* .navbar{
    
    background-color:rgb(45, 56, 70);
} */
/* .back{
    background-image: url("../images/w1.jpg");
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;

} */
.navbar{
    background-color: transparent;
}
.a img{
    width: 100%;
    height: 85%;


}
.r1{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 90%;
}